{% extends "base.html" %}
{% block title %}Procedimentos — HospitalBD{% endblock %}
{% block content %}

    <div class="page-header">
        <h1 class="page-header__title">Procedimentos</h1>
    </div>

    <div class="table-wrapper">
        <table class="data-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Tempo Médio (min)</th>
                </tr>
            </thead>
            <tbody>
                {% for p in procedimentos %}
                <tr>
                    <td>{{ p.id_procedimento }}</td>
                    <td>{{ p.codigo }}</td>
                    <td>{{ p.nome }}</td>
                    <td>{{ p.tempo_medio_minutos }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}